.hidden-text {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease; /* Adjust the duration and timing function as needed */
}

  .gradient-bg {
    background: linear-gradient(to bottom, #000000,#af5718);
  }

  .footer-bg{
    background-color: #9e4f17;
  }

  .h-600px{
    height: 600px;
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-slide-left {
    animation: slideInFromLeft 0.5s ease-out forwards;
  }
  
  .animate-slide-right {
    animation: slideInFromRight 0.5s ease-out forwards;
  }
  
  .hide {
    display: none;
  }
  
  .bg-gray-box{
    background-color: rgb(228, 228, 228);
  }

  .bg-blue-box{
    background-color: rgba(42, 120, 184, 0.836);
  }

  .bg-orange-box{
    background-color: rgba(240, 141, 27, 0.836);
  }

  .hidden-text {
    display: none;
    opacity: 0;
  }
  
  .visible-text {
    animation: fadeIn 0.5s ease forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  